html,body {
    height: 100%;
}

body{
    background-image: url(img/fundo.png);
    margin: 0;
    font-family: Circular, Helvetica, Arial, sans-serif;
    
}

header{
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content:space-around;
} 

.container{
    display: flex;
    justify-content: space-between;
    width: 75%;
    font-family: Circular, Helvetica, Arial, sans-serif;
}

h1{
    font-size: 85px;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

h4{
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.itens-nav{
    color: white;
    text-decoration:none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;

}
.espacador{
    
    color: #D9DADC;
}
.itens-nav:hover{
    color: #1db954;
}

.logo{
    width: 132px;
    height: 40px;
}
.logo-barra{
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: flex-start;
    width: 20%; 
}
.barra-navegacao{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 40%;   
    
}

section{
    justify-content:center;
    align-items: center;
    display: flex;
    height: 730px;
}

.botao{
    color: #fff;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    background: #1db954;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;   
}

.meio{
    width: 700px;
    height: 300px;
    text-align: center;
}

footer{
    background-color: black;
    height: 408px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0 50px;
    
    
}

.tudo{
    /* background-color: darkmagenta; */
    display: flex;
    width: 85%;
    height: 60%;
    padding-right: 15px;
}
.logo-footer{
    
    width: 16.66666667%;
    display: flex;
    justify-content: flex-start;
}

.div2{
    
    width: 16.66666667%;
    flex-direction:column;
    flex-wrap: wrap;
    display: flex;
    padding-left: 15px;
    padding-right:15px;

}


h3{
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    margin: 20px 0 22px;
    text-transform: uppercase;
}

.link{
    font-size: 16px;
    font-weight: 400;
    padding: .1875em 0;
    margin-bottom: .75em;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-weight: 550;
}

.rede-social-circulo{
    background-color: #222326;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    position: relative;
    float:left;
    margin-right: 20px;
}


.rede-social-icone{
    width: 28px;
    height: 28px;  

}


.icones-footer{
    width: 33.33333333%;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    
    
}

.col{
    /* background-color: darkgoldenrod; */
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding: 0px 20px;
}

ul{
    padding: 0;
}

.copi{
    /* background-color: darkorange; */
    display: flex;    
    flex-direction: column;
}

.tudoaqui{
    /* background-color: blue; */
    width: 90%;
    align-items: center;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.rodape{
    color: #919496;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
}

.copyright{
    color: #919496;
    font-size: 12px;
    font-family: Circular, Helvetica, Arial, sans-serif;

}

.caraca{
    color: #919496;
    font-size: 12px;
    padding-left: 35px;
}

.br{
    width: 26px;
    height: 20px;
}
